*
!.gitignore

!packages/
!packages/**/

!package.json
!pnpm-lock.yaml
!pnpm-workspace.yaml

!.changeset/
!.changeset/*

!.github/
!.github/**/
!.github/**/*.yml

!docs/
!docs/*.md

!tools/
!tools/*.sh

!.editorconfig
!changelog.config.cjs
!configs.code-workspace
!eslint.config.mjs
!knip.config.ts
!.prettierignore

!tsconfig.*.json
!tsconfig.json

!CHANGELOG.md
!README.md
