name: Changesets

on:
    push:
        branches:
            - main

permissions:
    id-token: write # Required for trusted publishers
    contents: read

env:
    CI: true
    PNPM_CACHE_FOLDER: .pnpm-store

jobs:
    version:
        timeout-minutes: 15

        runs-on: ubuntu-latest

        permissions:
            actions: write
            contents: write
            pull-requests: write

        steps:
            - name: checkout code repository
              uses: actions/checkout@v6
              with:
                  fetch-depth: 0

            - name: setup node.js
              uses: actions/setup-node@v6
              with:
                  node-version: 24
                  registry-url: 'https://registry.npmjs.org'

            - name: install pnpm
              run: npm i pnpm@latest -g

            - name: setup pnpm config
              run: pnpm config set store-dir $PNPM_CACHE_FOLDER

            - name: install dependencies
              run: pnpm install

            - name: build everything
              run: pnpm build

            - name: create and publish versions
              uses: changesets/action@v1
              with:
                  commit: 'chore: update versions'
                  title: 'chore: update versions'
                  publish: pnpm ci:publish
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
