name: Changesets

on:
    push:
        branches:
            - main

permissions:
    id-token: write
    contents: read

jobs:
    version:
        timeout-minutes: 15

        runs-on: ubuntu-latest

        permissions:
            actions: write
            contents: write
            pull-requests: write

        steps:
            - name: checkout code repository
              uses: actions/checkout@v6
              with:
                  fetch-depth: 0

            - name: Setup pnpm
              uses: pnpm/action-setup@v4

            - name: setup node.js
              uses: actions/setup-node@v6
              with:
                  cache: 'pnpm'
                  node-version: 24
                  registry-url: 'https://registry.npmjs.org'

            - name: Re-install npm
              run: npm install -g npm@11

            - name: install dependencies
              run: pnpm install

            - name: build everything
              run: pnpm build

            - name: create and publish versions
              uses: changesets/action@v1
              with:
                  commit: 'ci: release'
                  title: 'ci: release'
                  publish: 'pnpm ci:publish'
              env:
                  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
